* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* 高さ50px */
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  /* フレックスボックスの利用で、HTMLブロックを横並びにする */
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  /* 高さ50px */
  height: 50px;
  background-color: #aaaaaa;
}

/* フォント */
h3,
p {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
}

/* 768px以下の場合にどう表示させるかをここから記述 */
@media screen and (max-width: 768px) {
  /* 縦並びにする */
  main {
    display: block;
  }

  /* 頭から足先まで横幅100%にする */
  header,
  footer,
  main {
    width: 100%;
  }

  /* header高さを50px */
  header {
    height: 50px;
  }

  /* footer高さを50px */
  footer {
    height: 50px;
  }

  /* mainとheaderの間が50px */
  /* mainとfooterの間が50px */
  main {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .step-box,
  .step-box:last-child {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .step-img1 {
    /* 高さ150px固定 */
    height: 150px;
    background-image: url(img/flow01.png);
    background-position: bottom;
    background-size: cover;
  }

  .step-img2 {
    /* 高さ150px固定 */
    height: 150px;
    background-image: url(img/flow02.png);
    background-position: bottom;
    background-size: cover;
  }

  .step-img3 {
    /* 高さ150px固定 */
    height: 150px;
    background-image: url(img/flow03.png);
    background-position: bottom;
    background-size: cover;
  }

  /* 1と2だけ下マージン20px */
  .step-box:nth-child(1),
  .step-box:nth-child(2) {
    margin-bottom: 20px;
  }
}
